

{% load static %}
{% include 'header.html' %}

<style>
    .form-group input {
        height: 20px;
    }
    .js-fullheight{
        height: 160vh;
    }
</style>

<div class="hero-wrap js-fullheight " style="background-image: url('../static/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
        <div class="col-md-7 ftco-animate">
          
        </div>
            <section class="ftco-section ftco-no-pb ftco-no-pt "style="margin-top: 60px;">
                <div class="container">
                  <div class="row">
                     <div class="col-md-7"></div>
                     <div class="col-md-5 order-md-last">
                      <div class="login-wrap p-4">
                            <h3 class="mb-4 text-center">SIGN UP</h3>
                          <form action="" method="post" class="signup-form">
                              {% csrf_token %}
                             <div class="form-group">
                                {{ form.as_p }}
                              </div>
                              <div class="form-group d-flex justify-content-end mt-4">
                                  <button type="submit" class="btn btn-primary submit"><span class=""> SIGN UP</span></button>
                              </div>
                          </form>
                          <p class="text-center text-dark">Already have an account? <a href="/signin"><b>Sign In</b></a></p>
                      </div>
                  </div>
                  </div>
              </div>
              </section>
       
      </div>
    </div>
  </div>


{% include 'footer.html' %}

